.__search {
  background: white;
  border: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 300px;
}

.__search input {
  background: transparent;
  border: none;
  outline: none;
  flex: 1;
}

.__search i {
  font-size: 1.5em;
}
