/* global */
.parameters {
  display: flex;
}

/* main */
.parameters__main {
  flex: 1;
  background: transparent;
}
.parameters__main > header {
  color: white;
  display: flex;
  background-color: #464646;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 64px;
}

.parameters__main > header > h3 {
  font-weight: normal;
}

.parameters__user__status{
  display: flex;
  justify-content: center;
  align-items: center;
}
.parameters__user__status__icons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameters__user__status__icon {
  font-size: 1.5em;
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}
.parameters__user__status__icon > span {
  font-size: 11px;
  position: absolute;
  top: -5px;
  right: -5px;
  background: #746ff6;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parameters__user__status__profile {
  display: flex;
  cursor: pointer;
}

.parameters__user__status__profile > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 25px;
  font-size: .8em;
}
.parameters__user__status__profile > div h5 {
  margin: 0;
  margin-bottom: 3px;
  color: #bbb;
}
.parameters__user__status__profile > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* TODO: remove probably */
  background: white;
}

/* main area */
.parameters__main > main {
  padding: 10px 64px;
}

.parameters__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.parameters__control {
}
.parameters__search {
  display: flex;
}
.parameters__control__right {
  display: flex;
  padding-right: 38px;
}
.parameters__control__right > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameters__control__right > div:nth-child(1){
  margin-right: 15px;
}
.parameters__control__right > div > span{
  color: #bbb;
  font-size: 0.9em;
  padding: 0 2px;
}

.parameters__control__right > div:nth-child(1) > span:nth-child(2){
  color: #746ff6;
}

.parameters__control__right > div:nth-child(2){

}

.parameters__row{
  margin: 1em 0;
}

/* sidebar  */

.parameters__sidebar {
  width: 250px;
  background-color: #746ff6;
  color: #f9fbff;
  padding-bottom: 2em;
}

.parameters__logo {
  display: flex;
  justify-content: center;
  height: 64px;
  align-items: center;
}

.parameters__logo img {
  width: 29px;
  height: 29px;
  margin-right: 7px;
}

.parameters__nav__expander {
  background-color: #6f6ce5;
  border-left: 3px solid white;
}

.parameters__nav__item {
  padding: 20px 0;
  cursor: pointer;
}
.parameters__nav__item__inner {
  max-width: 190px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parameters__nav__item__inner > div > i {
  margin-right: 10px;
}
.parameters__nav__item__inner > i {
  cursor: pointer;
  padding: 10px 0;
  transition: all 0.3s cubic-bezier(0.82, -0.87, 0, 2.61);
}

.parameters__nav__item--active {
}

.parameters__nav__item--active > i {
  transform: rotate(-90deg);
}

.parameters__nav__item > div > span {
}

.parameters__nav__expandees {
}

.parameters__nav__items{
  max-height: 1000px;
  transition: all 0.4s cubic-bezier(0.82, -0.87, 0, 2.61);
  overflow: hidden;
}

.parameters__nav__items--collapes{
  max-height: 0;
  overflow: hidden;
}

.parameters__sidebar__buttons {
  max-width: 190px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.parameters__sidebar__buttons > button {
  height: 2.5em;
  font-size: 1em;
  color: white;
  border: none;
  outline: none;
  margin: 0 10px;
  background: #6f6ce5;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.parameters__sidebar__buttons > button:nth-child(2) {
  margin: 10px;
}

/* hovered button or active #6ba2f9 */
