.parameters__card{
  padding: 10px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.parameters__card--bottom{
  width: 97%;
  margin: 0 auto;
  position: relative;
  top: -5px;
  z-index: -1;
}

.parameters__card > h3 {
  margin: 8 0;
}
.parameters__card > h3 ,
.parameters__card > h3 {
  color: #bbb;
}

.parameters__card > span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #746ff6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parameters__card > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 32px;
}